<br>
<label for="password" class="form-label">Password</label>
<input type="password" id="password" style="width: 200px;" class="form-control" aria-describedby="password">
<div id="password" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>
<label for="passwordConfirm" class="form-label">Password Confirm</label>
<input type="passwordConfirm" id="passwordConfirm"style="width: 200px;" class="form-control" aria-describedby="passwordConfirm">
<div id="passwordConfirm" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>
<button type="button" class="btn btn-info">Şifreyi Güncelle</button>